<div>
    <a href="/addgame">Add A Game to your Library</a>
</div>
<div class="gamelibrary-container">
    <div class="card-header col-md-12 text-center">
        <h2>
            Your Game Library
        </h2>
    </div>
    {{#each gamesLogged as |game|}}
    <div class="game col-md-4">
        <p>
            {{ this.id }}.
            {{this.game_name}}
        </p>
    </div>
    <div class="col-md-5">
        <p>
            Console: {{this.console}}
            Genre: {{this.genre}}
        </p>
    </div>
    <div class="col-md-3">
        ☑️: {{#if this.completed}} Completed {{else}} {{/if}}
        ⭐: {{#if this.favorite}} Favorite {{else}} {{/if}}
    </div>
    {{/each}}