<div>
  {{>primary}}
</div>
<div class="row" class="profile-container">
  <h2 class="center-align #eceff1 blue-grey-text text-lighten-5">
    Setup your profile!
  </h2>
  <form class="row profile-form">
    <label class="input-field col s6" for="profile_name">
      First Name
    </label>
    <br />
    <input id="first_name" name="first_name">
    {{firstname}}
    </input>
    <br />
    <label class="input-field col s6" for="profile_name">
      Last Name
    </label>
    <br />
    <input id="last_name" name="last_name" rows="2" cols="10">
    {{lastname}}
    </input>
    <br />
    <label class="input-field col s6" for="about_me">
      About Me:
    </label>
    <br />
    <input id="about_me" name="about_me" rows="5" cols="10">
    {{aboutme}}
    </input>
    <br />
    <br />
    <label class="input-field col s6" for="psn_name">
      PSN Username:
    </label>
    <br />
    <input id="psn_name" name="psn_name" rows="2" cols="10">
    {{usernamepsn}}
    </input>
    <br />
    <label class="input-field col s6" for="xbox_name">
      XBOX Username:
    </label>
    <br />
    <input id="xbox_name" name="xbox_name" rows="2" cols="10">
    {{usernamexbox}}
    </input>
    <br />
    <label class="input-field col s6" for="steam_name">
      Steam Username:
    </label>
    <br />
    <input id="steam_name" name="steam_name" rows="2" cols="10">
    {{usernamesteam}}
    </input>
    <br />
    <label class="input-field col s6" for="nintendo_name">
      Nintendo Username:
    </label>
    <br />
    <input id="nintendo_name" name="nintendo_name" rows="2" cols="10">
    {{usernamenintendo}}
    </input>
    <br />
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right"></i>
    </button>
  </form>
</div>
</div>

<script src="/js/profile.js"></script>